<div class="viewIssueWrapper" *ngIf="issue">
  <div class="centeredContentWrapper">
    <h1>Issue "{{issue.title}}"</h1>
  </div>
  <p>
    {{issue.description}}
  </p>
  <div>
    Status: {{status}}
  </div>
  <div class="centeredContentWrapper crudOptions">
    <a mat-raised-button color="accent" routerLink="/issues/{{projectId}}/edit/{{issueId}}">Edit</a>
    <a mat-raised-button color="warn" routerLink="/issues/{{projectId}}/delete/{{issueId}}">Delete</a>
    <a mat-raised-button routerLink="/projects/view/{{projectId}}">Back to project</a>
  </div>
</div>
<div class="centeredContentWrapper" *ngIf="!issue">
  <h1>Loading issue</h1>
</div>