<div class="centeredContentWrapper">
  <h2 *ngIf="!project">Loading project...</h2>
  <h2 *ngIf="project">Edit {{project.name}}</h2>
</div>
<div class="centeredForm">
  <form [formGroup]="projectForm" (ngSubmit)="onSubmit()" *ngIf="project">
    <mat-form-field class="full-width">
      <input matInput placeholder="Name" formControlName="name">
      <mat-error *ngIf="name.errors?.required">Name is required</mat-error>
      <mat-error *ngIf="name.errors?.pattern">Name cannot be blank</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <textarea matInput placeholder="Description" formControlName="description"></textarea>
      <mat-error *ngIf="description.errors?.required">Description is required</mat-error>
      <mat-error *ngIf="description.errors?.pattern">Description cannot be blank</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-chip-list #tagList>
        <mat-chip *ngFor="let tagName of tags" [selectable]="selectable" [removable]="removable" (removed)="removeTag(tagName)">
          {{tagName}}
          <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
        </mat-chip>
        <input placeholder="Tags" [matChipInputFor]="tagList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="addTag($event)">
      </mat-chip-list>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-chip-list #membersList>
        <mat-chip *ngFor="let memberEmail of memberEmails" [selectable]="selectable" [removable]="removable" (removed)="removeMember(memberEmail)">
          {{memberEmail}}
          <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
        </mat-chip>
        <input placeholder="Members" [matChipInputFor]="membersList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="addMember($event)">
      </mat-chip-list>
    </mat-form-field>

    <div class="centeredContentWrapper">
      <button [disabled]="projectForm.invalid" mat-raised-button color="accent" type="submit">Edit</button>
      <a class="cancelBtn" mat-raised-button routerLink="/projects/my">Cancel</a>
    </div>
  </form>
</div>