<div class="centeredForm">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <input matInput placeholder="Email" type="email" formControlName="email">
      <mat-error *ngIf="email.errors?.required">A valid email is required</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput type="password" placeholder="Password" formControlName="password" />
      <mat-error *ngIf="password.errors?.required">Password cannot be empty</mat-error>
    </mat-form-field>
    <div class="centeredContentWrapper">
      <button [disabled]="loginForm.invalid" mat-raised-button color="primary" type="submit">Log me in!</button>
    </div>
  </form>
</div>