<div class="viewProjectWrapper">
  <div class="centeredContentWrapper">
    <h1 *ngIf="project">{{project.name}}</h1>
  </div>
  <div class="centeredContentWrapper">
    <p *ngIf="project" class="projectDescription">
      {{project.description}}
    </p>
  </div>
  <div class="centeredContentWrapper">
    <a mat-raised-button color="primary" routerLink="/issues/{{projectId}}/add">Add Issue</a>
  </div>
  <mat-list>
    <div>
      <h3 mat-subheader>Issues</h3>
    </div>
    <mat-list-item *ngFor="let isu of issues$ | async">
      <mat-icon mat-list-icon>remove_red_eye</mat-icon>
      <h4 mat-line>{{isu.title}}</h4>
      <p mat-line>{{isu.dateIso | date: 'dd/MM/yyyy'}}</p>
      <div class="projectViewIssueBtn">
        <a class="cancelBtn" mat-raised-button color="primary" routerLink="/issues/{{projectId}}/view/{{isu.uid}}">View</a>
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>