<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-flat-button routerLink="/">
      <mat-icon>done_all</mat-icon>
      <span>Solvo</span>
    </a>
    <span class="example-spacer"></span>
    <a *ngIf="user" mat-flat-button routerLink="/projects/add">
      <mat-icon>add</mat-icon>
      <span>New Project</span>
    </a>
    <span *ngIf="user">Welcome, {{user.email}}</span>
    <mat-icon class="example-icon" mat-button [matMenuTriggerFor]="menu">face</mat-icon>
    <mat-menu #menu="matMenu">
      <a *ngIf="!user" mat-menu-item routerLink="/auth/login">Login</a>
      <a *ngIf="!user" mat-menu-item routerLink="/auth/register">Register</a>
      <a *ngIf="user && user.roles.admin" mat-menu-item routerLink="/admin">Admin</a>
      <a *ngIf="user" mat-menu-item routerLink="/projects/my">My projects</a>
      <a *ngIf="user" mat-menu-item (click)="logout()">Logout</a>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>