<div class="centeredContentWrapper" *ngIf="projectId">
  <h2 *ngIf="project">Add new issue for Project "{{project.name}}"</h2>
</div>
<div class="centeredForm">
  <form [formGroup]="issueForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <input matInput placeholder="Title" formControlName="title">
      <mat-error *ngIf="title.errors?.required">Title is required</mat-error>
      <mat-error *ngIf="title.errors?.pattern">Title cannot be empty or whitespace</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <textarea matInput placeholder="Description" formControlName="description"></textarea>
      <mat-error *ngIf="description.errors?.required">Description is required</mat-error>
      <mat-error *ngIf="description.errors?.pattern">Description cannot be empty or whitespace</mat-error>
    </mat-form-field>
    <div class="centeredContentWrapper">
      <button mat-raised-button color="primary" [disabled]="issueForm.invalid" type="submit">Add</button>
      <a class="cancelBtn" mat-raised-button routerLink="/projects/view/{{projectId}}">Cancel</a>
    </div>
  </form>
</div>
<div class="centeredContentWrapper" *ngIf="!projectId">
  Loading...
</div>